<div class="bg-white p-3">
  <div class="card-body">
    <p>Houses Page</p>
    <h1> Wanna buy a house?</h1>
  </div>

  <section class="container">
    <form onsubmit="app.HouseController.createHouse()" class="row border shadow my-3 rounded py-2">
      <h4>List your house for sell!</h4>
      <div class="col-2 mb-1">
        <label for="">Year</label>
        <input type="number" name="year" class="form-control" required min="1800" max="2024">
      </div>
      <div class="col-2 mb-1">
        <label for="">Bedrooms</label>
        <input type="number" name="bedrooms" class="form-control" required min="1" max="20">
      </div>
      <div class="col-2 mb-1">
        <label for="">bathrooms</label>
        <input type="number" name="bedrooms" class="form-control" required min="1" max="20">
      </div>
      <div class="col-2 mb-1">
        <label for="">Approx. sqft</label>
        <input type="number" name="sqft" class="form-control" required min="1" max="100000">
      </div>
      <div class="col-2 mb-1">
        <label for="">Price</label>
        <input type="number" name="price" class="form-control" required min="10000" max="10000000000">
      </div>
      <div class="col-4 mb-4">
        <label for="">Short Description</label>
        <input type="text" name="description" class="form-control" required minlength="1" maxLength="50">
      </div>
      <div class="col-4 mb-4">
        <label for="">Image URL of the house</label>
        <input type="url" name="imgUrl" class="form-control" required minlength="1" maxLength="50">
      </div>
      <div class="mb-2">
        <button type="submit" class="btn btn-primary">submit</button>
      </div>
    </form>
  </section>
</div>

<section>
  <div class="row" id="house-list">
    <!-- house cards will go here -->
  </div>
</section>